/* change autofill style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #555555;
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
    transition: background-color 5000s ease-in-out 0s;
}

body {
    background-color: #fff9ec;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
    margin-top: 73px;
    margin-left: 290px;
    padding: 50px 60px 70px;
}

.card {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
}

.card__heading {
    font-weight: 600;
    margin: 10px 0 50px 20px;
    color: #5c2941;
    font-size: 1.8rem;
    padding-bottom: 6px;
    border-bottom: 0.8px solid #5c294180;
}

.mess-box {
    display: none;
    align-items: center;
    padding: 20px 15px;
    border-radius: 4px;
    margin: 0 50px 35px 50px;
}

.mess-box--danger {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

.mess-box--success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}

.mess-box__icon {
    margin-left: 40px;
    margin-right: 20px;
}

.mess-box__mess {
    font-size: 18px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.form__item {
    margin: 0 5px 30px 5px;
    max-width: 360px;
    flex: 45%;
    background-color: #f7f7f7;
    border: solid 1px #e6e6e6;
    border-radius: 13px;
    padding: 8px 15px;
}

.form__item:focus-within {
    border-color: #fc6376;
    background-color: #fff;
}

.form__label {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 18px;
    color: #393939;
    display: block;
    cursor: pointer;
    min-height: 30px;
}

.form__item:focus-within .form__label {
    color: #fc6376;
    font-size: 1.2rem;
    font-weight: 400;
}

.form__input {
    padding: 10px 5px;
    border: none;
    background-color: inherit;
    border-radius: 3px;
    font-size: 1.1rem;
    color: #555555;
    width: 100%;
    cursor: pointer;
}

.form__input:focus {
    outline: none;
}

.form__input option {
    font-size: 15px;
}

.form__btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    margin-bottom: 30px;
}

.btn {
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 25px;
    min-width: 100px;
    text-align: center;
    box-sizing: content-box;
    cursor: pointer;
}

.btn--primary {
    margin-right: 30px;
    background-color: #fc6376;
    color: #fff;
    transition: all 0.2s;
}

.btn--primary:hover {
    background-color: #941010;
}

.btn--secondary {
    background-color: #e7e1e1;
    color: #000;
    text-decoration: none;
    transition: all 0.2s;
}

.btn--secondary:hover {
    background-color: #806a6a;
    color: #fff;
}
