main {
  margin-top: 6em;
  margin-left: 23em;
  margin-right: 4em;
  margin-bottom: 10em;
  color: #5C2941;
}

.seach-bar,
.create-contract-button {
    text-align: -webkit-right;

}

.contract-action {
  margin-bottom: 4em;
  text-align: center;
}

.create-contract-button a {
  background-color: rgba(24, 160, 251, 0.7);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFF9EC;
  padding: 10px 15px;
  border-radius: 20px;
  display: block;
  width: fit-content;
}

.contract-list-table th, .contract-list-table td{
  border: none !important;
}

.contract-list-header th {
  background-color: #FAAEB7;
}
.contract-list-header th:first-child  {
  border-radius: 10px 0 0 10px;
}

.contract-list-header th:last-child {
  border-radius: 0 10px 10px 0;
}
.contract-list-header th a {
  color: #5C2941;
}

.page-link {
  background-color: #F2F2F2;
  border: none;
  margin: 0 10px;
  border-radius: 10px;
  color: #5C2941;
}
.page-link.active {
  background-color: #FAAEB7;
}

.status-select {
  border: none;
  border-radius: 5px;
  background-color: #ffffff00;
  font-weight: 700;
  color: #5C2941;

}

.select-search-option{
  border: none;
  text-align: right;
  /* -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none; */
  font-size: 15px;
  font-weight: 600;
  margin: 1em;
}

.contract-list-title {
    margin: 2em;
}
.contract-list-title a {
    color: #5C2941;
}