/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2022, 10:28:08 AM
    Author     : quynm
*/

:root{
    --color1: #ffdccc00;
    --color2: #fdb1a6;
    --color3: #fc6376;
    --color4: #5c2941;
}

.errorMsg{
    color: red
}

.content__container{
    margin: 150px 120px 120px 340px;
    font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content__title{
    font-size: 28px;
    font-weight: bold;
    color: #5c2941;
}

.content__detail{
    display: flex;
}
.content__detail-table{
    max-width: 100%
}
.content__detail-table tbody{
    display: block;
}
.content__detail-data{
    padding: 5px 40px 5px 0;
    font-weight: bold;
}
.content__detail-data input,
.content__detail-data textarea{
    min-width: 250px;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 8px 5px;
    resize: none;
    margin-right: 10px;
    color: black;
    resize: none;
}

.content__detail-data input:focus,
.content__detail-data textarea:focus{
    border-bottom: 1px solid #fc6376;
    outline: none;
}

.button{
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    min-width: 160px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    text-decoration: none;
}

.button--primary{
    background: #fc6376;
    color: white;
}
.button--gray{
    background: gray;
    color: white;
}
.button--disabled{
    opacity: 50%;
}