
body {
    margin: 2%;
    background-image: url('../image/User Register.png');
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E0E0E0;
    overflow: hidden;
}

.logo-icon {
    margin-left: 5%;
    width: 5%;
}

.logo-title {
    width: 12%;
    margin-left: 2%;
}

div {
    width: 573px;
    background-color: #E0E0E0;
}

form .container {
    margin: 5% auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container #title {
    height: 50px;
    background-color: #FC6376;
    font-size: 25px;
    font-weight: bold;
    color: #FFF9EC;
    padding-left: 5%;
    padding-top: 3%;
}

.content {
    text-align: center;
    color: #5C2941;
}

.content #c1 {
    font-size: 20px;
    font-weight: bold;
}

.content #c2 {
    padding: 0 15px;
    margin-bottom: 30px;
}

.content #input-code {
    width: 50%;
    height: 40px;;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #FFF9EC;
}

.content #btn-submit {
    background-color: #83B7B9;
    border-radius: 20px; 
    padding: 3%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    color: #5C2941;
}

#btn-submit:hover {
    background-color: #FC6376;
    color: #FFF9EC;
}
