
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #5C2941;
    background-color: #C4C4C4;
}

.logo {
    width: 27rem;
    height: 27rem;
    color: #A23246;
}

.container {
    margin: 5rem 8rem 2rem 7.5rem;
}

.container .row {
    width: 80rem;
}

.container .row .left {
    width: 100%;
    background-color: #A4C4B5;
    padding: 7rem 9rem 5rem 6rem;
}

.container .row .right {
    width: 100%;
    background-color: #FFFFFF;
}

.title {
    font-weight: bold;
    margin-bottom: 3rem;
    padding: 5rem 9rem 0 11rem;
}

.container .row .form {
    padding-left: 7rem;
}

.attribute {
    font-style: italic;
    margin-top: 2rem;
}

.input {
    position: absolute;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
    width: 23rem;
    transition: 0.25s ease;
    padding: 0.25rem 4rem 0.25rem 1rem;
}

.container .row .right .input-icon {
    position: relative;
    width: 2.5rem;
    height: 3rem;
    margin-left: 20rem;
    padding-bottom: 1rem; 
}

.container .row .right span {
    color: red;
}

.input:focus {
    outline: 0;
    border-bottom: 2px solid #FC6376;
    color: #5C2941;
}

.container .row .checkbox:hover {
    transition: 0.25s ease;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.container .row .btn {
    width: 10rem;
    height: 3.5rem;
    background: #A4C4B5;
    border-radius: 30px;
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.container .row .btn:hover {
    color: #5C2941;
    background-color: #FC6376;
}

.container .msg {
    margin: 2rem 3rem 0 3rem;
    display: inline;
    color: #FFFFFF; 
    transition: 0.25s ease;
}